[Unit]
Description=Ollama Grid Node (%i)
Documentation=https://github.com/mwprado/ollama-grid
After=network.target

[Service]
User=ollama-grid
Group=ollama-grid
EnvironmentFile=/etc/ollama-grid/%i.conf
ExecStart=/usr/bin/ollama-grid-%i serve
Restart=always
Nice=5
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=read-only
# Ajustes conforme necessidade
# CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
